@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*pri = primary, sec = secondary*/
:root {
  /*Used for buttons, highlights, and primary elements*/
  --pri-color: #3f51b5;

  /*Used for accents and secondary elements*/
  --bg-color: #ffffff;
  --bg-color2: #f3f3f3;
  --txt-color: #3b3b3b;

  /*Used for borders, background accents, and subtle elements*/
  --neutral-color: #e2e2e2;
  --neutral-color2: #424242;

  /*Used to indicate errors or validation issues*/
  --error-color: #f44336;

  /*Dashboard Colors*/
  --dash-bg-color: #161616;
  --dash-bg-color2: #424242;
  --dash-txt-color1: #8e8e92;
  --dash-txt-color2: #fff;

  --px: 3rem;
  --py: 1.5rem;

  --max-width: 1400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: ease 0.2s;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section.template {
  padding-inline: var(--px);
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
}


.overflow-y-scroll::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.overflow-y-scroll,
.overflow-y-auto,
.overflow-x-auto,
.overflow-x-scroll {
  scrollbar-width: none;
}


/*Disabled button for registrations*/
.disabled-button {
  background-color: #f2f2f2;
  color: #999999;
}

/*Dashboard active link*/
.active{
  color: var(--dash-txt-color2);
  background: var(--pri-color);
}


/*Footer*/
footer li{
  cursor: pointer;
  color: var(--neutral-color2);
}

footer li:hover{
  color: black;
}

/*Home*/
#home-card-what-will-you-manage {
  word-spacing: -0.25rem;
}

@media (width < 1280px) {
  /*menu-top is used in nav for absolute top*/
  :root {
    --px: 2rem;
    --py: 1rem;
    --menu-top: 4.66rem;
  }
}

@media (width <= 764px) {
  :root {
    --px: 1rem;
    --py: 1rem;

    --menu-top: 4rem;
  }
}

@media (width <= 480px) {
  :root {
    --px: 0.7rem;
    --py: .7rem;
    --menu-top: 3.3rem;
  }
}

@media (width < 320px) {
  * {
    overflow: scroll;
  }
}
